body{
    text-align: center;
    background-color: black;
    color: aliceblue;
    font: caption;
}

body h1{font-family: 'Courier New', Courier, monospace;}

nav{
    width: 90%;
    padding-top: 25px;
    padding-bottom: 25px;
    margin: 20px auto;
    border-radius: 6px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(255, 192, 203, 0.57);

    background-image: url(imagens/b6027077e78f18851fea7a70c33328fa.jpg);
    background-size: 100%;
    background-position: center;

}

body p{ 
    text-align: left;
    margin-top:40px;
    margin-left: 5%;

}

body nav ul{
    list-style-type: none;
    padding: 0;
}

body nav ul li{
    color: aliceblue;
    display:inline-block;
    padding: 0 190px;
    font-family: 'Courier New', Courier, monospace;
}

body li { 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: pink;
}
a{ text-decoration: none;
    color: blanchedalmond;
    font-weight: bold;
    padding: 10px 20px;
    font-size: 30px;
    border-radius: 10px;
    transition: all 0.3s all;

}

a:hover {
    background-color: rgba(255, 192, 203, 0.434);
    border-color: rgb(239, 98, 122);

}

.tabela{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}